@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 100vh;
  header, footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 145, 78);
    color: #fff;
  }
  #container {
    min-height: 80vh;
    width: auto;
    background-color: rgb(3, 145, 78);
    display: flex;
    justify-content: space-around;
    align-items: center;
    #calculator {
      height: 400px;
      width: 300px;
      background-color: #c7c7c7;
      border: 1px solid rgb(3, 175, 105);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      #display-container {
        background-color: #fff;
        height: 18%;
        width: 98%;
        margin: 2%;
        padding: 0 2%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        #result {
          height: 32px;
          font-size: 26px;
          text-align: end;
        }
        #input {
          height: 60%;
          font-size: 40px;
          text-align: end;
        }
      }
      #btns-container {
          height: 80%;
          width: 100%;
          display: grid;
          justify-items: center;
          grid-template-columns: repeat(4, 25%);
          grid-template-rows: repeat(5, 20%);
          align-items: center;
          .btn, .b-btn {
              height: 80%;
              width: 80%;
              border-radius: 5px;
              background-color: #000;
              color: #fff;
              border: 1px solid rgb(3, 145, 78);
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: space-around;
              font-size: 20px;
              font-weight: 600;
          }
          .b-btn {
            //Grid fix
            color: #fff;
          }
        #del {
          grid-column-start: 1;
          grid-column-end:3;
          width: 90%;
        }
        #cle {
          grid-column-start: 3;
          grid-column-end: 5;
          width: 90%;
        }
      }
    }
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%
  }
}